body, h2, h3, p, ul, ol, table {
	margin: 0;
	padding: 0;
	height: 9000px;
}

img{
	border: none; 
}

body{
	font-family: georgia, serif;
	background: #878787;
}

p{
	font-size: 14px;
	line-height: 1.6em;
	margin-bottom: 1em; 
	color:#333;
}

a{
color: #9B4245; 
}

a:hover{
color: #76768e;
}

#master {
	margin-top: 20px;
	width: 842px;
	height: 595px;
	margin: 0 auto;
	background: url("images/whole-background.jpg") no-repeat;
	overflow: hidden;
	position: relative; 
	-webkit-box-shadow: 0px 0px 30px 10px #686868;
	-moz-box-shadow: 0px 0px 30px 10px #686868;
	box-shadow: 0px 0px 30px 10px #686868;
	position: fixed;
}

#background-top-section{
	z-index: 200;
	position: absolute;
	width: 842px;
	height: 313px;
	background: url("images/background-top-small.png") no-repeat;
	}

#tree-front-left{
	z-index: 1000;
	position: absolute;
	width: 220px;
	height: 595px;
	background: url("images/tree-front-left.png") no-repeat;
}

#tree-front-right{
	z-index: 1000;
	position: absolute;
	width: 213px;
	height: 595px;
	background: url("images/tree-front-right.png") no-repeat;
	top: 0;
	left: 628px;
}


#tree-back-right{
	z-index: 800;
	position: absolute;
	width: 2243px;
	height: 544px;
	background: url("images/tree-second-right.png") no-repeat;
	top: 0;
	left: 628px;
}

#tove3{
	z-index:900;
	height: 161px;
	width: 129px;
	position: absolute;
	left: 900px;
	background: url("images/tove3-small.png") no-repeat;
	top: 340px;
}

#tove3copy{
	z-index:900;
	height: 161px;
	width: 129px;
	position: absolute;
	left: 900px;
	background: url("images/tove3-small copy.png") no-repeat;
	top: 340px;
}


#tove2{
	z-index:900;
	height: 140px;
	width: 158px;
	position: absolute;
	left: -200px;
	background: url("images/tove2-small.png") no-repeat;
	top: 350px;
}

#tove2copy{
	z-index:900;
	height: 140px;
	width: 158px;
	position: absolute;
	left: -200px;
	background: url("images/tove2-small copy.png") no-repeat;
	top: 350px;
}

#mome-rat1{
	z-index:800;
	height: 106px;
	width: 148px;
	position: absolute;
	left: -200px;
	background: url("images/mome-rat1-small.png") no-repeat;
	top: 350px;
}

#borogove1{
	z-index:1000;
	height: 146px;
	width: 225px;
	position: absolute;
	left: 900px;
	background: url("images/borogove1-small.png") no-repeat;
	top: 400px;
}

#Jabberwocky{
	z-index:1000;
	height: 302px;
	width: 567px;
	position: absolute;
	left: 900px;
	background: url("images/jaba-small.png") no-repeat;
	top: 350px;
}

#claw{
	z-index:1000;
	height: 120px;
	width: 122px;
	position: absolute;
	left: 550px;
	background: url("images/claw-small.png") no-repeat;
	top: 600px;
}



#Jubjub-bird{
	z-index:850;
	height: 184px;
	width: 188px;
	position: absolute;
	left: -200px;
	background: url("images/jub-jub-bird-small.png") no-repeat;
	top: 250px;
}


#bandersnatch{
	z-index:800;
	height: 138px;
	width: 300px;
	position: absolute;
	left: 900px;
	background: url("images/bandersnatch-small.png") no-repeat;
	top: 350px;
}


#vorpal-sword{
	z-index:1000;
	height: 142px;
	width: 240px;
	position: absolute;
	left: 550px;
	background: url("images/sword-small.png") no-repeat;
	top: 600px;
}

#tumtum-tree{
	z-index:1000;
	height: 560px;
	width: 380px;
	position: absolute;
	left: -500px;
	background: url("images/tum-tum-tree-small.png") no-repeat;
	top: 30px;
}



#text1, #text2, #text3, #text4, #text5, #text6, #text7, #text8, #text9, #text10, #text11, #text12, #text13, #text14, #text15 {
	padding: 10px;
	color: #686460;
	background: white;
	text-align: center;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	-webkit-box-shadow: 0px 0px 4px 4px rgba(50, 50, 50, .2);
	box-shadow: 0px 0px 4px 4px rgba(50, 50, 50, .2);
}

#text1{
	display: none;
	position: relative;
	width: 200px;
	top: 700px;
	left: 350px;
}

#text2{
	display: none;
	position: relative;
	width: 200px;
	top: 1500px;
	left: 350px;
}

#text3{
	display: none;
	position: relative;
	width: 200px;
	top: 1900px;
	left: 350px;
}

#text4{
	display: none;
	position: relative;
	width: 200px;
	top: 2500px;
	left: 350px;
}

#text5{
	display: none;
	position: relative;
	width: 200px;
	top: 3100px;
	left: 350px;
}

#text6{
	display: none;
	position: relative;
	width: 200px;
	top: 3500px;
	left: 350px;
}

#text7{
	display: none;
	position: relative;
	width: 200px;
	top: 4400px;
	left: 350px;
}

#text8{
	display: none;
	position: relative;
	width: 200px;
	top: 5100px;
	left: 350px;
}

#text9{
	display: none;
	position: relative;
	width: 200px;
	top: 5700px;
	left: 350px;
}

#text10{
	display: none;
	position: relative;
	width: 200px;
	top: 6300px;
	left: 350px;
}

#text11{
	display: none;
	position: relative;
	width: 200px;
	top: 6600px;
	left: 350px;
}

#text12{
	display: none;
	position: relative;
	width: 200px;
	top: 7000px;
	left: 350px;
}

#text13{
	display: none;
	position: relative;
	width: 200px;
	top: 7400px;
	left: 350px;
}

#text14{
	display: none;
	position: relative;
	width: 200px;
	top: 8000px;
	left: 350px;
}

#text15{
	display: none;
	position: relative;
	width: 200px;
	top: 8400px;
	left: 350px;
}