#main {
	width: 698px;
	margin: 0 auto;
	position: relative;
}

.bgImage {
	height: 500px;
}

#bg1{
	background: url('images/bg1.jpg') no-repeat;
}

#bg2{
	background: url('images/bg2.jpg') no-repeat;
}

#bg3{
	background: url('images/bg3.jpg') no-repeat;
}

#bg4{
	background: url('images/bg4.jpg') no-repeat;
}

#bg5{
	background: url('images/bg5.jpg') no-repeat;
}

#bg6{
	background: url('images/bg6.jpg') no-repeat;
	height:698px;
}

#text1, #text2, #text3, #text4, #text5, #text6, #text7, #text8, #text9, #text10, #text11, #text12, #text13, #text14 {
	display: none;
}

#text1{
	position: absolute;
	background: url('images/text1.png') no-repeat;
	top: 130px;
	left: 10px;
	width: 330px;
	height: 89px;
}

#text2{
	position: absolute;
	background: url('images/text2.png') no-repeat;
	top: 250px;
	left: 100px;
	width: 318px;
	height: 80px;
	
}

#text3{
	position: absolute;
	background: url('images/text3.png') no-repeat;
	top: 380px;
	left: 50px;
	width: 352px;
	height: 64px;
	
}

#text4{
	position: absolute;
	background: url('images/text4.png') no-repeat;
	top: 500px;
	left: 80px;
	width: 309px;
	height: 175px;
	
}

#text5{
	position: absolute;
	background: url('images/text5.png') no-repeat;
	top: 750px;
	left: 90px;
	width: 211px;
	height: 192px;
	
}

#text6{
	position: absolute;
	background: url('images/text6.png') no-repeat;
	top: 1000px;
	left: 150px;
	width: 181px;
	height: 143px;
	
}

#text7{
	position: absolute;
	background: url('images/text7.png') no-repeat;
	top: 1200px;
	left: 160px;
	width: 175px;
	height: 91px;
	
}

#text8{
	position: absolute;
	background: url('images/text8.png') no-repeat;
	top: 1380px;
	left: 180px;
	width: 154px;
	height: 164px;
	
}

#text9{
	position: absolute;
	background: url('images/text9.png') no-repeat;
	top: 1700px;
	left: 330px;
	width: 102px;
	height: 340px;
	
}

#text10{
	position: absolute;
	background: url('images/text10.png') no-repeat;
	top: 2400px;
	left: 160px;
	width: 103px;
	height: 112px;
	
}

#text11{
	position: absolute;
	background: url('images/text11.png') no-repeat;
	top: 2550px;
	left: 110px;
	width: 134px;
	height: 148px;
	
}

#text12{
	position: absolute;
	background: url('images/text12.png') no-repeat;
	top: 2750px;
	left: 20px;
	width: 253px;
	height: 125px;
	
}

#text13{
	position: absolute;
	background: url('images/text13.png') no-repeat;
	top: 2910px;
	left: 10px;
	width: 256px;
	height: 45px;
	
}

#text14{
	position: absolute;
	background: url('images/text14.png') no-repeat;
	top: 3000px;
	left: 10px;
	width: 242px;
	height: 112px;
	
}

