/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}

/* flip the pane when hovered */
.flip-container.flipped .flipper, .flip-container.flipper  {
	transform: rotateY(180deg);
}
.matched
	

.flip-container, .front, .back, .flipper {
	width:90px; 
	height:90px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
#msg2 span {
	display:none;
	font-family: 'Permanent Marker', cursive; 
	font-size: 20px; 
	margin-top: 20px;
}
html { 
  background: url(img/back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

#help{
	display: none;
	position  : fixed; 
	z-index: 10;
 	width     : 1000px;  
  	height    : 800px;
  	left: 50%;
  	margin-left: -500px;
  	text-align: center;
  	top:25%;
  	margin-top: -10px;
}
#ot{
	position: relative;
	width: 30px;
	left: 50%;
	box-shadow: black 0px 0px 20px 5px;
}



#msg2 { 
	margin-left:auto;
	width: 900px;
	margin-right: auto; 
	margin-top: 20px; 
	height:100px;
	text-align: center;
	color: white;
	box-shadow: inset black 0px 0px 150px 50px;
	padding: 20px;
}

table#px {
	
	border: 10px solid transparent; 
	margin-left:auto; 
	margin-right: auto; 
	margin-top: 10px; 
	box-shadow: black 0px 0px 70px 5px;
	z-index: 5;
}

table#px td {
	 
	border: 5px solid transparent; 
	position:relative;
	overflow:hidden;
}

.txt {
	position:absolute; 
	width: 100%; 
	top:35px; 
	text-align: center; 
	font-family: 'Permanent Marker', cursive; 
	font-size:11px;
	color: white
}
