#master{
margin: 0 auto 0 auto;
background: url(images/splat.jpg) center fixed;
overflow:hidden;
position: relative; 

}

#backg{
width: 952px;
background: url(images/backg.png) center fixed;
margin-left: auto;
margin-right: auto;
}

#changer{
	background: url('images/transform.png') no-repeat white;
	height: 438px;
	width: 588px;
}

#boy img.fadein {
z-index:100;
opacity: 0;
transition:opacity 1s;
-moz-transition:opacity 1s;
-webkit-transition:opacity 1s;
-o-transition:opacity 1s;
}

#boy {
	height: 800px;
	width: 550px;
	background: url('images/boy.png') no-repeat;
}

#boy:hover {
	height: 800px;
	width: 550px;
	background: url('images/boy2.png') no-repeat;
}

#boy img {
position: absolute;
top: 0;
left: 0;
}


#actions{
	background: url('images/sit.png') no-repeat;
	height:400px;
	width: 500px;
}

p{
text-align: center; 
font-family: delicious, sans serif;
}

.center{
margin: 0 auto;
}

img{
display: inline-block;
}

h1{
text-align: center;
font-family: helvetica,sans serif;
padding: 5;
}

h2{
font-family: delicious, sans serif;
text-align: center;
size: 18px;
}

#sidetext{
height: 300px;
width: 350px;
text-align: center; 
float: left;
}
#sit {
	height: 300px;
	width: 350px;
	background: url('images/sit1.png') no-repeat;
}

#sit:hover {
	height: 300px;
	width: 350px;
	background: url('images/sit2.png') no-repeat;
}

#sit img {
position: absolute;
top: 0;
left: 0;
}

#dead {
	height: 300px;
	width: 350px;
	background: url('images/pdead.png') no-repeat;
}

#dead:hover {
	height: 300px;
	width: 350px;
	background: url('images/dead1.png') no-repeat;
}

#dead img {
position: absolute;
top: 0;
left: 0;
}

#roll{
	height: 300px;
	width: 350px;
	background: url('images/roll1.png') no-repeat;
}

#roll:hover {
	height: 300px;
	width: 350px;
	background: url('images/roll.gif') no-repeat;
}

#roll img {
position: absolute;
top: 0;
left: 0;
}