html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



html, body {
	line-height: 1;
	min-height:100%;
	font-family:"helvetica" sans-serif;


}

body {
background: url(img/background.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
ol, ul {
	list-style: none;
}

p {
	margin:1em 0;
     color:black;
    line-height:1.1em;
background-color: white;
}




h1 {
    color:#fff;
    font-size:30px;
	margin:0;
    text-align:center;

}



#wrap 
            {
            width:800px;
            margin-left: auto;
            margin-right: auto;
            }   
            
           
            #audio
            {
            visibility: hidden;    
            }

            
            #status
            {
            position: fixed; font-size: 30px;
            }

            .win
            {
            height: 1000px;

            border: 1px solid hidden;
            margin: 10px;
            overflow: hidden;
            position: relative;
            }   
            .obj
            {
            position:absolute
            }
            .txt 
            {
            padding: 10px;
            font-size: 22px;
            border-radius: 12px;
            }

        #o1{left:100px;}
            
        #x1{ background-image: url(img/1.jpg); height: 575px; width: 800px;}
        #x2{ background-image: url(img/1a.jpg);height: 575px; width: 800px;}
        #x3{ background-image: url(img/2.jpg);height: 488px; width: 800px;}
        #x4{ background-image: url(img/2a.jpg);height: 488px; width: 800px;}
        #x5{ background-image: url(img/3.jpg);height: 585px; width: 800px;}
        #x6{ background-image: url(img/3a.jpg);height: 585px; width: 800px;}
        #x7{ background-image: url(img/4.jpg);height: 580px; width: 800px;}
        #x8{ background-image: url(img/4a.jpg);height: 580px; width: 800px;}
        #x9{ background-image: url(img/5.jpg);height: 560px; width: 800px;}
        #x10{ background-image: url(img/5a.jpg);height: 560px; width: 800px;}
        #x11{ background-image: url(img/6.jpg);height: 576px; width: 800px;}
        #x12{ background-image: url(img/6a.jpg);height: 576px; width: 800px;}
        #x13{ background-image: url(img/7.jpg);height: 558px; width: 800px;}
        #x14{ background-image: url(img/7a.jpg);height: 558px; width: 800px;}
        #x15{ background-image: url(img/8.jpg);height: 564px; width: 800px;}
        #x16{ background-image: url(img/8a.jpg);height: 564px; width: 800px;}
        #x17{ background-image: url(img/9.jpg);height: 488px; width: 800px;}
        #x18{ background-image: url(img/9a.jpg);height: 488px; width: 800px;}
        #x19{ background-image: url(img/10.png);height: 488px; width: 800px;}
        #x20{ background-image: url(img/10a.png);height: 488px; width: 800px;}
        #x21{ background-image: url(img/11.jpg);height: 527px; width: 800px;}
        #x22{ background-image: url(img/11a.jpg);height: 527px; width: 800px;}
        #x23{ background-image: url(img/12.jpg);height: 485px; width: 800px;}
        #x24{ background-image: url(img/12a.jpg);height: 485px; width: 800px;}
        #x25{ background-image: url(img/13.jpg);height: 523px; width: 800px;}
        #x26{ background-image: url(img/13a.jpg);height: 523px; width: 800px;}
        #x27{ background-image: url(img/14.jpg);height: 548px; width: 800px;}
        #x28{ background-image: url(img/14a.jpg);height: 548px; width: 800px;}
        #x29{ background-image: url(img/15.png);height: 488px; width: 800px;}
        #x30{ background-image: url(img/15a.png);height: 488px; width: 800px;}
        #x31{ background-image: url(img/16.jpg);height: 507px; width: 800px;}
        #x32{ background-image: url(img/16a.jpg);height: 507px; width: 800px;}
        #x33{ background-image: url(img/17.jpg);height: 529px; width: 800px;}
        #x34{ background-image: url(img/17a.jpg);height: 529px; width: 800px;}
        #x35{ background-image: url(img/18.jpg);height: 586px; width: 800px;}
        #x36{ background-image: url(img/18a.jpg);height: 586px; width: 800px;}
        #x37{ background-image: url(img/19.jpg);height: 476px; width: 800px;}
        #x38{ background-image: url(img/19a.jpg);height: 476px; width: 800px;}
        #x39{ background-image: url(img/20.jpg);height: 534px; width: 800px;}
        #x40{ background-image: url(img/20a.jpg);height: 534px; width: 800px;}
        #x41{ background-image: url(img/21.jpg);height: 533px; width: 800px;}
        #x42{ background-image: url(img/21a.jpg);height: 533px; width: 800px;}
        #x43{ background-image: url(img/22.jpg);height: 524px; width: 800px;}
        #x44{ background-image: url(img/22a.jpg);height: 524px; width: 800px;}
        #x45{ background-image: url(img/23.jpg);height: 575px; width: 800px;}
        #x46{ background-image: url(img/23a.jpg);height: 575px; width: 800px;}
        #x47{ background-image: url(img/24.jpg);height:617px; width: 800px;}
        #x48{ background-image: url(img/24a.jpg);height: 617px; width: 800px;}
        #x49{ background-image: url(img/25.jpg);height: 593px; width: 800px;}
        #x50{ background-image: url(img/25a.jpg);height: 593px; width: 800px;}
        #x51{ background-image: url(img/26.jpg);height: 524px; width: 800px;}
        #x52{ background-image: url(img/26a.jpg);height: 524px; width: 800px;}
        #x53{ background-image: url(img/27.jpg);height: 566px; width: 800px;}
        #x54{ background-image: url(img/27a.jpg);height: 566px; width: 800px;}
        #x55{ background-image: url(img/28.jpg);height: 527px; width: 800px;}
        #x56{ background-image: url(img/28a.jpg);height: 527px; width: 800px;}
        #x57{ background-image: url(img/29.png);height: 488px; width: 800px;}
        #x58{ background-image: url(img/29a.png);height: 488px; width: 800px;}
        #x59{ background-image: url(img/30.png);height: 488px; width: 800px;}
        #x60{ background-image: url(img/30a.png);height: 488px; width: 800px;}
        #x61{ background-image: url(img/31.jpg);height: 478px; width: 800px;}
        #x62{ background-image: url(img/31a.jpg);height: 478px; width: 800px;}
        #x63{ background-image: url(img/32.jpg);height: 487px; width: 800px;}
        #x64{ background-image: url(img/32a.jpg);height: 487px; width: 800px;}




        .imgContainer{
            
        }

      

     

